<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="to-from-container">
      <div class="top-level-shading">
        <div class="from-text">BELFORD</div>
        <div class="to-text">PIER 11</div>
        <div class="top-fill-header"></div>
        <div class="bottom-fill-header"></div>
      </div>
      <div class="bottom-level-shading"></div>
    </div>
    <div class="top-water-container">
      <div class="water-background"></div>
      <div class="water-text">1 ADULT</div>
    </div>
    <div class="bottom-water-container"></div>
    <div class="date-time-container">
      <div class="date-time">
        <div class="date">{{date}}</div>
        <div class="time">{{time}}</div>
      </div>
    </div>
    <div class="location-container">
      <div class="location-text">NY Waterway Hudson River Ferry</div>
    </div>
</ion-view>
</ion-content>