<ion-view hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <a class="item">
        <div class="center">
          <img id="login-img" src="img/icon.png">
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <input autocomplete="off" type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="data.password">
          </label>
        </div>
        <button class="button button-block action-btn" ng-click="login()">Login</button>
      </a>
    </div>
</ion-view>
</ion-content>
