<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="to-from-container">
      <div class="top-level-shading">
        <div class="from-text">{{from}}</div>
        <div class="to-text" ng-class="{'long-destination': to === 'BELFORD'}" ng-click="toFrom()">{{to}}</div>
        <div class="top-fill-header"></div>
        <div class="bottom-fill-header"></div>
      </div>
      <div class="bottom-level-shading"></div>
    </div>
    <div class="top-water-container" ng-class="{'activated-background':topActivated}" ng-click="topActivate()">
      <div class="water-background"></div>
      <div class="water-text">1 ADULT</div>
      <div class="f1wave"></div>
      <div class="fwave"></div>
      <div class="wave"></div>
      <div class="waves"></div>
      <div class="waves2"></div>
      <div class="waves3"></div>
    </div>
    <div class="bottom-water-container" ng-class="{'activated-background':topActivated}" ng-click="topActivate()"></div>
    <div class="date-time-container" ng-class="{'date-time-active-bg':bottomActivated}" ng-click="bottomActivate()">
      <div class="date-time">
        <div class="date">{{date}}</div>
        <div class="time">{{time}}</div>
      </div>
    </div>
    <div class="location-container" ng-class="{'activated-background':bottomActivated}" ng-click="bottomActivate()">
      <div class="location-text">NY Waterway Hudson River Ferry</div>
    </div>
</ion-view>
</ion-content>