

<ion-view title="Detailed View" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="card">
    <label class="item item-input">
      <span class="input-label">Description</span>
      <div class="details">{{transaction.description}}</div>
    </label>
    <label class="item item-input">
      <span class="input-label">Category</span>
      <div class="details">{{transaction.category}}</div>
    </label>
      <label class="item item-input">
        <span class="input-label">Amount</span>
        <div class="details">{{transaction.amount}}</div>
      </label>
    <label class="item item-input">
      <span class="input-label">Status</span>
      <div class="details" ng-if="transaction.approved">Approved</div>
      <div class="details" ng-if="!transaction.approved">Rejected</div>
    </label>
    <label class="item item-input">
      <span class="input-label" >Date</span>
      <div class="details">{{transaction.date}}</div>
    </label>
      </div>
    <br>
    <button class="button button-balanced button-assertive ">
      Approved
    </button>
    <button class="button button-assertive button-assertive details">
     Reject
    </button>




  </ion-content>

</ion-view>

