

<ion-view title="Detailed View" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="card">
    <label class="item item-input">
      <span class="input-label">Description</span>
      <div class="details">Walmart</div>
    </label>
    <label class="item item-input">
      <span class="input-label">Category</span>
      <div class="details">Shopping</div>
    </label>
      <label class="item item-input">
        <span class="input-label">Amount</span>
        <div class="details">$1000</div>
      </label>
    <label class="item item-input">
      <span class="input-label">Status</span>
      <div class="details">Pending</div>
    </label>
    <label class="item item-input">
      <span class="input-label" >Date</span>
      <div class="details">12/10/2016</div>
    </label>
      </div>
    <br>
    <button class="button button-balanced button-assertive ">
      Approved
    </button>
    <button class="button button-assertive button-assertive details">
     Reject
    </button>




  </ion-content>

</ion-view>

