<ion-view title="Busiest Checkout Counters" id="page6">
  <ion-content >

  <div class="card animated bounceInLeft">
  <div class="item item-divider">
Electronics
  </div>
  <div class="item item-text-wrap">
    <ul class="list">
      <li class="item">
        Checkout Counter #2 - Elisa Menon
      </li>
      <li class="item">
        Checkout Counter #40 - John mac
      </li>
    </ul>
  </div>
    </div>

    <div class="card animated bounceInRight">
      <div class="item item-divider">
        Clothing
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">
            Checkout Counter #10 - Felisa Ken
          </li>
          <li class="item">
            Checkout Counter #03 - Mac tyson
          </li>
        </ul>
      </div>
      </div>


    </ion-content>
  </ion-view>
