<ion-view title="Mark Profile" id="page6">
  <ion-content padding="true" class="has-header">

    <div class="list card">
      <div class="item item-body text-center">
        <img class="center" ng-src="img/img.jpg"  class="image-list-thumb"/>
      </div>
      <div class="item text-center">
        <h4>Mark Jen</h4>
        <p>Manager<br/>
          New York</p>
      </div>

    </div>

    <div class="list card ">
      <a class="item item-icon-right" ><i class="icon ion-ios-unlocked"></i> Password<p>*******</p></a>
      <a class="item item-icon-right" ><i class="icon ion-briefcase"></i> Department<p>Clothing</p></a>
      <a class="item item-icon-right" ><i class="icon ion-ios-telephone"></i>Call Office<p>999-090-8767</p></a>
      <a class="item item-icon-right" ><i class="icon ion-email"></i>Email<p>Mark@retail.com</p></a>
    </div>

</ion-content>
  </ion-view>
