<ion-view title="Directory" id="page6">
  <ion-content padding="true" class="has-header">

      <div class="list">
        <div class="item item-divider">
      Clothing Department
        </div>

        <a class="item item-icon-left" ng-href="tel:+1-800-695-9873">
          <i class="icon ion-ios7-telephone"></i><i class="icon ion-ios-telephone"></i>Service Lead<p>+1-800-695-9873</p></a>
        <div class="item item-divider">
          Electronics Department
        </div>
        <a class="item item-icon-left" href="tel:+1-888-695-3245">
          <i class="icon ion-ios7-telephone"></i><i class="icon ion-ios-telephone"></i>Service Operations<p>+1-888-695-3245</p></a>
       </div>


  </ion-content>
</ion-view>
