<ion-view title="Search" id="page2">
  <ion-content padding="true" class="has-header col-center">

    <form id="home-form6" class="list">
      <label class="item item-input" id="home-input5">

        <input type="text" id="keywords" placeholder="Enter Low Limit" ng-model="data.key" required>
      </label>
      <label class="item item-input" id="home-input6">

        <input type="text" id="category" placeholder="Enter High Limit" ng-model="data.category" required>
      </label>
      <!--<div class="card">
        <div class="item item-divider">
          Choose Crowd Density
        </div>
        <div class="item item-text-wrap">
          <ion-radio ng-model="data.category" ng-value="'Low'">Low</ion-radio>
          <ion-radio ng-model="data.category" ng-value="'Mid'">Medium</ion-radio>
          <ion-radio ng-model="data.category" ng-value="'High'">High</ion-radio>
        </div>
      </div>-->

    </form>
    <button id="home-button3" class="button button-positive  button-block" ng-click="searchNow()">Tap me!</button>

  </ion-content>
</ion-view>
