<ion-view title="Directory" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <a ng-repeat="transaction in transactions" class="item item-thumbnail-center" href="#">
        <img ng-show="transaction.approved" src="img/check.png">
        <img ng-hide="transaction.approved" src="img/ex.png">
        <div ng-click="getItem(transaction)" class="transaction-item">
        	<div class="transaction-item-amount">${{transaction.amount}}</div>
          <h2>Pretty Hate Machine</h2>
          <p class="transaction-item-subheader">Nine Inch Nails</p>
        </div>
      </a>
    </div>
</ion-view>
</ion-content>