<ion-view title="Transactions" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list">

<!-- amount cateory description -->

      <div ng-repeat="transaction in transactions" >
        <a ng-click="getItem(transaction)" class="item item-thumbnail-center">
          <div class="transaction-item">
            <img id="transaction-image" ng-show="transaction.Status == 1 && transaction.Status !== undefined" src="img/check.png">
            <img id="transaction-image" ng-hide="transaction.Status == 1 || transaction.Status === null" src="img/ex.png">
            <img style="height: 60px; width: 65px;" id="transaction-image" ng-show="transaction.Status === null" src="img/pending.png">
            <div id="transaction-price" class="transaction-item-amount">${{transaction.Amount}}</div>
            <h2>{{transaction.Description}}</h2>
            <p class="transaction-item-subheader">{{transaction['Date'] | date}}</p>
          </div>
        </a>
      </div>
    </div>
</ion-view>
</ion-content>
<!-- amount cateory description -->

