<ion-view title="Directory" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <div ng-click="getItem(transaction)">
        <a ng-repeat="transaction in transactions" class="item item-thumbnail-center">
          <img ng-show="transaction.approved" src="img/check.png">
          <img ng-hide="transaction.approved" src="img/ex.png">
          <div class="transaction-item">
            <div class="transaction-item-amount">${{transaction.amount}}</div>
            <h2>{{transaction.description}}</h2>
            <p class="transaction-item-subheader">{{transaction.category}}</p>
          </div>
        </a>
      </div>
    </div>
</ion-view>
</ion-content>
<!-- amount cateory description -->